*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.nav
{
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: rgb(103, 102, 196);
  
}
.logo
{ width: 50%;
  
}
.nav>ul{
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  
  list-style-type: none;
 
}
.link
{
  color: aliceblue;
}

.signin
{
  display: flex;
  
  column-gap: 20px;
  color: rgb(240, 229, 229);
  border-color: black ;
  
}

.link
{
  text-decoration: none;
}
/**------------------------------about     -----------------**/
.about 
{
  padding: 10px;
  background-color: skyblue;
}

/** ----------------------------------Booking-------------- **/






       /**-------------------------------------service---------------**/
   .service
   {
    text-align: center;

   }


      /**-----------------------------Add Flights--------------------------------**/
      
      .addFlight{
        text-align: center;
        border-radius: 10px;
        border-style: double;
        height: 700px;
        background-image: url("https://st3.depositphotos.com/5624298/i/600/depositphotos_188965938-stock-photo-closeup-miniature-airplane-colored-background.jpg");
        background-repeat: no-repeat;
        background-size: 100%, 100%;
        
    }
    .inputAdd{
        border: none;
        outline: none;
        border-style: none;
        border-bottom: 2px solid red;
        background-color: whitesmoke;
        font-size: 20px;
    
    }
    .inputAdd[type=text]:focus {
        background-color: lightblue;
      }
      
    /* CSS */
    .button-30 {
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono",monospace;
      height: 34px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
    }
    
    .button-30:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button-30:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button-30:active {
      box-shadow: #D6D6E7 0 3px 7px inset;
      transform: translateY(2px);
    }
    
      
      
    /**---------------------------   Flight list   -------------------------------------**/

    .list
    {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-image: url(https://images.unsplash.com/flagged/photo-1595524571622-a61dbfda87f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80);
      background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
  }
  
  .hOne
  {
      font-family: "Comic Sans MS";
      color: rgb(241, 11, 69);
  }
  .Table{
      border-collapse: collapse;
      box-shadow: 0 5px 10px darkslategray;
      background-color: whitesmoke;
      text-align: left;
      overflow: hidden;
  }
  .TableHead
  {
      box-shadow: 0 5px 10px darkslategray;
      background-color: rgb(92, 68, 247);
      color: white;
  }
  th
  {
      padding: 1rem 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 10px;
      font-weight: 1000;
  }
  td
  {
      padding: 1rem 1rem;
      text-align: center;
      
  }
  .fare
  {
      text-align: center;
  }
 
  
  /* CSS */
  .button-49,
  .button-49:after {
    width: 50px;
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  
  @media (min-width: 768px) {
    .button-49,
    .button-49:after {
      width: 100px;
      height: 43px;
      line-height: 44px;
    }
  }

  /**---------------------------SearchList --------------------------------------**/

  
.SearchCon{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/222/192/original/travel-illustration-with-handbag-aircraft-model-and-stamps-flat-lay-illustration-vector.jpg);
  background-repeat: no-repeat;
background-size: 100%;
height: 559px;
}
.logoImage{
  height: 60px;
  width: 80px;
}
.TD{
  color: black;
  border-collapse: collapse;
  box-shadow: 0 5px 10px darkslategray;
  background-color: whitesmoke;
  text-align: left;
  overflow: hidden;
}
/**----------------------------------------CheckIN--------------------------------**/
.CheackIn
{
  display: auto;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.popup{
  margin-left: 100px;
}
.last{
  margin-left: 20px;
}
.radio{
  margin-left: 32px;
}
.Lsatname{
  margin-left: 135px;
}
.email{
  margin-left: 100px;
}
.gender{
  margin-left: 75px;
  
}
.pin{
  margin-left: 180px;
}
.CheackIn{
  margin-left: 1px;
}
.hedu{
  border-radius: 2px;
  border-style: outset;
  width: 850px;
  margin-top: 30px;
  background-color: whitesmoke;
}
.fr{
  border-radius: 2px;
  border-style: double;
  width: 850px;
}
.frg{
  margin-left: 10px;
}
.buttton99{
  width: 200px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  
}
.img1{
  height: 50px;
  width: 80px;
  margin-top: 50px;
}
.img2{
  height: 50px;
  width: 80px;
  margin-left: 20px;
  margin-top: 50px;
}
.img3{
  height: 50px;
  width: 80px;
  margin-left: 20px;
  margin-top: 50px;
}
.cardNum{
  margin-left: 120px;
}